body{
	background: linear-gradient(90deg,  #6882f0, #1f379d);

}

.acad{
	font-family: 'Comfortaa';
	color: #dc3545;
	font-size: 1.8rem;
	margin-top: 2%;
	margin-left: 1%;
}

.b1{
	background-color: #dc3545;
	color:#ffffff;
	border-color: #dc3545;
	margin-right: 0.3rem;
	
}
.b1:hover{
	background-color: #dc3545;
	color:#ffffff;
	border-color: #dc3545;
}

.b2{
	background-color: rgb(255, 255, 255);
	color:#1f379dff;
	border-color: #1f379dff;
	margin-right: 0.3rem;
	
}
.b2:hover{
	background-color:  #1f379dff;
	color:rgb(255, 255, 255);
	border-color: #1f379dff;
}

.form1{

	border-radius: 0.5rem;
	margin-top:7%;
	/* margin-bottom: 8%; */
	margin-left: 20%;
	margin-right:auto;
	background-color: #ffffff;
	padding: 2rem 2rem 3rem 2rem;
	box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.1) ;
}

.content{

	border-radius: 2rem;
	margin-top:5%;
	/* margin-bottom: 8%; */
	/* margin-left: 8%; */
	margin-right:8%;
	background-color: #ffffff;
	padding: 0rem 0rem 0rem 0rem;
	/* box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.1) ; */
}

.labl{
	font-size:larger;
	text-align: left;
	padding-left: 25%;
  margin-left: -5%;
	padding-top: 1.5%;
}

.desc_lab{
	font-size:larger;
	text-align: left;
	padding-left: 25%;
	  margin-left: -5%;
}

.inp{
	padding-left:0px ;
}



.txt{
	margin-left: -7%;
	width: 85%;
	font-size: 0.5rem;
	font-weight: 40;
	/* line-height: 1.5; */
	/* border-color:; */
	border-width: 0px 0px 0px 0px;
	padding-left: 3%;
	color:#82817F;
	height: 90%;
	border-radius: 0.2rem;
	font-size: 1rem;
	background-color: #D9D9D9;
}

.desc{
	height: 100%;
	padding-top: 5%;
	margin-bottom: 10%;
	
}

.dscp{
	padding-top: 20%;
}

.btn-submit{
	width: 15%;
	background-color: #1f379dff;
	border-radius: 0.6rem;
	color: #ffffff;
	font-size: 1rem;
	border: 0px;
	padding-top: 1.5%;
	padding-bottom: 1.5%;
	margin-top: 5%;
	margin-right: 2.5%;
}

.btn-cancel{
	width: 15%;
	background-color: #dc3545;
	border-radius: 0.6rem;
	color: #ffffff;
	font-size: 1rem;
	border: 0px;
	padding-top: 1.5%;
	padding-bottom: 1.5%;
	margin-top: 5%;
	margin-left: 2.5%;
}

#alert
{
	text-align: center;
}

#danger
{
	text-align: center;
}

#domainid
{
	margin-left: -7%;
	width: 85%;
	font-size: 0.5rem;
	font-weight: 40;
	/* line-height: 1.5; */
	/* border-color:; */
	border-width: 0px 0px 0px 0px;
	padding-left: 3%;
	color:#82817F;
	height: 90%;
	border-radius: 0.2rem;
	font-size: 1rem;
	background-color: #D9D9D9;
}

